* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body {*/
    /*min-height: 200vh;*/
/*} this will enable us to check the scrolled status of boxes */

.wrapper {
    width: 100%;
}

.box {
    width: 100%;
    /*height: 200px;*/
}


.background-container.video-overlay {
    overflow: hidden;
    width: 100%;
    height: 30%;
    /*height is something that has to change in the media queries*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}
.video-container {
    width: 100%;
}

video {
    width: 100%;
}

.overlay {
    background: url("https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/black-small-checks.png") repeat;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
}

p {
    color: white;
    font-size: 3em;
    margin-top: 2em;
}

h1 {
    padding-top: 1em;
    text-align: center;
}

.background-container > video {
    width: 100%;
    height: 100%;
}

.col-container {
    height: 200px;
}

.cols {
    background-color: white;
}

.col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding: 15px;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

@media (max-width: 450px) {
    .video-container {
        background: url("../media/5.jpg") center center / cover no-repeat;
        height: 300px;
        width: 100%;
    }

    .box {
        /*height manipulation*/
        height: 200px;
    }


    video {
        display: none;
    }
}


@media (min-width: 451px) and (max-width: 900px) {
    .background-container.video-overlay {
        /*height manipulation*/
        /*height: 250px;*/
        height: 40%;
    }

    .box {
        /*height manipulation*/
        height: 250px;
    }
    .video-container {
        /*height manipulation*/
        height: 250px;
    }
}


@media (min-width: 901px) and (max-width: 1400px) {
    .background-container.video-overlay {
        /*height manipulation*/
        height: 400px;
    }
    .box {
        /*height manipulation*/
        height: 400px;
    }
    video {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        top: 0%;
        left: 0%
    }
    .video-container {
        /*height manipulation*/
        height: 400px;
    }
}

@media (min-width: 1401px) {
    .background-container.video-overlay {
        height: 500px;
    }
    .box {
        height: 500px;
    }
    .video-container {
        height: 500px;
    }

    body {
        height: 500px;
    }
}

